/* body {
  background-color: whitesmoke;
} */

body {
  background-color: rgb(25, 28, 31);
}

h1 {
  text-align: center;
  margin-top: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 70px;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-stretch: expanded;
}

.navbar a {
  text-transform: uppercase;
  font-weight: bold;
  font-stretch: expanded;
}

.navbar-brand {
  color: rgb(241, 10, 106);
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.movies-container {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.card {
  border-radius: 10px;
  border: none;
  /*  border: 2px solid rgba(17, 18, 18, 0.787); */
}

.card > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.material-symbols-outlined {
  color: rgba(10, 11, 11, 0.787);
  font-size: medium;
}

.carousel {
  margin-top: 50px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 10px;
  font-stretch: expanded;
}

.more {
  display: none;
}

.tinted-background {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.rating-container {
  display: flex;
  align-items: center;
}

/* .banner {
  position: relative;
  width: 100%;
  box-shadow: 2px 2px 4px black;
  margin-top: 50px;
}
 */
.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h1 {
    padding: 1rem;
  }
}

.filters-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

.banner img {
  width: 100%;
  height: auto;
  float: left;
  clear: left;
}

.banner_text {
  width: 100%;
  padding: 20px; /* or whatever you want */
  position: absolute;
  left: 0;
  bottom: 0; /* for banners like that I like to position the text from the bottom, but it's up to you */
  z-index: 10;
  color: white;
  font-weight: bolder;
  font-stretch: expanded;
  text-transform: uppercase;
}

.sort-btn {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*   box-shadow: 2px 2px 4px rgba(154, 157, 158, 0.706); */
  font-size: small;
}

.form-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: small;
}

.expanded-uppercase {
  font-stretch: expanded;
  text-transform: uppercase;
}

.movie-search {
  font-stretch: expanded;
  font-size: small;
  width: 100%;
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-item:active {
  background-color: rgb(241, 10, 106);
}

.readMoreBtn {
  color: rgb(241, 10, 106);
  font-stretch: expanded;
}

.expanded {
  font-stretch: expanded;
}

.card-title {
  font-size: medium;
  word-break: break-word;
  font-stretch: expanded;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 0.5rem;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.rating-container {
  display: flex;
  align-self: flex-start;
  margin-bottom: 0;
  font-size: small;
}

.bold {
  font-weight: bold;
}

.overview-button {
  display: flex;
  justify-self: flex-end;
  border: none;
  font-stretch: expanded;
  font-size: small;
  font-weight: bold;
  color: rgb(241, 10, 106);
  background-color: rgb(43, 48, 53);
  border-radius: 20px;
}

.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-header-bg: rgb(43, 48, 53);
  --bs-popover-header-color: white;
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.5rem;
  font-stretch: expanded;
  font-size: small;
  border: 0;
  box-shadow: 2px 2px 4px rgba(154, 157, 158, 0.706);
}

.small-text {
  font-size: small;
}

.btn-dark {
  background-color: rgb(43, 48, 53);
  color: white;
}

.card-title {
  color: black;
  text-decoration: none;
}

.round-btn {
  background-color: rgb(43, 48, 53);
  color: white;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-button {
  background-color: rgb(43, 48, 53);
  color: white;
  margin-bottom: 20px;
}

.page-button:hover {
  background-color: rgb(66, 71, 76);
  color: white;
}

.btn[disabled] {
  background-color: rgb(241, 10, 106);
  color: white;
  border: rgb(241, 10, 106);
  opacity: 100;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.top-details {
  display: flex;
  flex-direction: row;
  font-size: x-small;
  font-stretch: expanded;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bold {
  font-weight: bolder;
}

.movies-title {
  color: rgb(241, 10, 106);
  font-size: 65px;
  align-self: center;
  font-stretch: expanded;
  margin-top: 75px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgb(241, 10, 106);
}
